:root {
    font-family: "Comic Sans MS", emoji;
    font-size: 25px;
    --aside-width: 15rem;
    --border-radius: 0.3rem;
}

header {
    position: fixed;
    top: 0;
    width: 90%;
    background-color: papayawhip;
    box-shadow: 0 0.1rem 0.3rem gray    ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 3rem;
    padding-left: 3rem;
}

header .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 12rem;
}

header .logo a {
    text-decoration: none;
    color: saddlebrown;
}

header .nav .nav-item {
    display: inline;
    margin: 0.3rem
}

header .nav-link {
    color: saddlebrown;
    text-decoration: none;
}

header .active {
    background-color: saddlebrown;
    color: lemonchiffon;
    padding: 0.3rem;
    border-radius: var(--border-radius);
}

header h4 {
    background-color: chocolate;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

footer {
    width: 100%;
    font-size: 70%;
    text-align: center;
    padding: 0.3rem;
    margin-top: 1rem;
    background-color: rgba(255, 218, 185, 0.52);
}


main {
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*отступ для сайдбара*/
    /*margin-right: var(--aside-width);*/
    /*margin-right: 15.5rem;*/
}

.aneks p {
    background-color: #F0F0F0FF;
    padding: 0.3rem;
    border-width: thin;
    border-radius: var(--border-radius);
}

.page-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /*border-bottom: 1px solid #ccc;*/
}

.logout-btn {
    background-color: #F0F0F0FF;
    border: none;
    padding: 0.3rem;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #F0F0F0FF;
    border: none;
    padding: 0.3rem;
    border-radius: var(--border-radius);
    cursor: pointer;
    color: chocolate;
}

.middle {
    display: flow-root;
}

aside {
    float: right;
    width: var(--aside-width);
    /*width: 10rem;*/
    margin-top: 4rem;
    /*padding: 0.3rem;*/
    background-color: peachpuff;
    border-radius: var(--border-radius);
}

.add-anek, .add-anek input {
    /*margin-top: 0.25rem;*/
    margin-bottom: 0.25rem;
}

/*debug*/
* {
    outline: 1px solid red;
}
