:root {
    font-family: "Comic Sans MS", emoji;
    font-size: 25px;
    --aside-width: 15rem;
    --border-radius: 0.3rem;
    --default-padding: 0.3rem;
}

header {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    background-color: papayawhip;
    box-shadow: 0 0.1rem 0.3rem gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 3rem;
    padding-left: 3rem;
}

header .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 12rem;
}

header .logo a {
    text-decoration: none;
    color: saddlebrown;
}

header .nav .nav-item {
    display: inline;
    margin: 0.3rem
}

header .nav-link {
    color: saddlebrown;
    text-decoration: none;
}

header .active {
    background-color: saddlebrown;
    color: lemonchiffon;
    padding: var(--default-padding);
    border-radius: var(--border-radius);
}

header h4 {
    background-color: chocolate;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

footer {
    font-size: 70%;
    text-align: center;
    padding: var(--default-padding);
    margin-top: 1rem;
    background-color: rgba(255, 218, 185, 0.52);
}


main {
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-page {
    /*отступ для сайдбара*/
    margin-right: calc(var(--aside-width) + 2 * var(--default-padding) + 1rem);
}

.aneks p {
    background-color: #F0F0F0FF;
    padding: var(--default-padding);
    border-width: thin;
    border-radius: var(--border-radius);
}

.aneks .anek-content {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.aneks .anek-sign {
    font-size: 85%;
    color: saddlebrown;
    display: block;
    text-align: right;
}

.page-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.logout-btn, .add-anek .btn {
    background-color: #F0F0F0FF;
    padding: var(--default-padding);
    border-radius: var(--border-radius);
    cursor: pointer;
}

.logout-btn:hover, .add-anek .btn:hover {
    background-color: #F0F0F0FF;
    padding: var(--default-padding);
    border-radius: var(--border-radius);
    cursor: pointer;
    color: chocolate;
}

.middle {
    display: flow-root;
}

aside {
    float: right;
    width: var(--aside-width);
    margin-top: 4rem;
    margin-right: 1rem;
    padding: var(--default-padding);
    background-color: peachpuff;
    border-radius: var(--border-radius);
}

.add-anek, .add-anek input, .add-anek textarea, .add-anek div {
    margin-bottom: 0.25rem;
    border-radius: var(--border-radius);
}

.add-anek textarea {
    resize: none;
    height: 10rem;
    width: 100%;
    /*я хз, что делает эта штука, но она магическим образом делает нормальный отступ справа*/
    box-sizing: border-box;
}

aside .add-anek-success {
    color: olivedrab;
    font-weight: bold;
}

aside .add-anek-error {
    color: red;
    font-weight: bold;
}

.nothing {
    text-align: center;
    font-weight: bold;
    padding-bottom: 1rem;
}


/*debug*/
/** {*/
/*    outline: 1px solid red;*/
/*}*/
