<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Кофе пить люблю пиздец</title>
    <link rel="icon" href="/img/aeropress.ico">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
<!--<header>
    <img src="../static/img/voronka1.jpeg" alt="voronka 1" title="Вороночка" class="left_picture">
    <h4>ЕБЕЙШИЙ САЙТ ПРО КОФЕ</h4>
    <img src="../static/img/voronka2.jpg" alt="voronka 2" title="Вороночка" class="right_picture">
</header>-->
<div th:insert="~{components/header :: header-component}"></div>
<div class="middle">
    <aside>
        <form th:action="@{/add-anek}" method="post" class="add-anek">
            <div class="add-anek-title">Добавить анекдот:</div>
            <textarea name="content"></textarea>
            <input type="submit" value="Опубликовать анек" class="btn">
        </form>
        <div th:if="${param.anekAddSuccess}" class="add-anek-success">Ваш анек был добавлен!</div>
        <div th:if="${param.anekAddError}" class="add-anek-error"
             th:text="'Ошибка добавления анека! Анек должен быть непустым и содержать не больше ' + ${param.max_length} + ' символов'"></div>
    </aside>
    <main class="main-page">
        <section class="aneks">
            <!--<p>Пришли в кафе русский, француз, американец, китаец и еврей. Каждый заказал по чашечке кофе, и каждому в
                кофе
                попалась муха. 
                — Русский выпил кофе, муху выкинул. 
                — Француз вежливо извинился, но кофе пить не стал. 
                — Американец выплеснул кофе в лицо официанту. 
                — Китаец съел муху, а кофе пить не стал. 
                — А еврей выпил кофе и стал продавать муху китайцу.
            </p>
            <p>— Люблю, знаете ли, кофе с сигаретой. 
                — Сколько кладешь одну, две?
            </p>
            <p>
                Муж спрашивает: 
                — Милая! На сколько крепким сделать тебе кофе?
                — На столько, на сколько крепка твоя любовь ко мне!
                — То есть воды вообще не добавлять? Так пожуешь?
            </p>
            <p>
                Вопрос: Кто такой настоящий муж?
                Ответ: Настоящий муж это тот, кто, придя домой и застав жену с любовником, скажет: "Ну вы тут
                заканчивайте, а
                я пока сварю кофе".
                Вопрос: А кто такой настоящий любовник? 
                Ответ: Тот, кто в этой ситуации сможет закончить. 
            </p>-->
            <p th:each="anek : ${aneks}">
                <span th:text="${anek.getContent()}" class="anek-content"></span><br>
                <i th:text="${anek.getAuthor().getUsername()}" class="anek-sign"></i>
            </p>
        </section>
    </main>
</div>
<div th:insert="~{components/footer :: footer-component}"></div>
</body>
</html>