<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Кофе пить люблю пиздец</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
<!--<header>
    <img src="../static/img/voronka1.jpeg" alt="voronka 1" title="Вороночка" class="left_picture">
    <h4>ЕБЕЙШИЙ САЙТ ПРО КОФЕ</h4>
    <img src="../static/img/voronka2.jpg" alt="voronka 2" title="Вороночка" class="right_picture">
</header>-->
<div th:insert="~{components/header :: header-component}"></div>
<div class="middle">
    <aside>
<!--        <form th:action="@{/add_anek}" method="post" class="add-anek">-->
<!--            <input type="text" placeholder="Ваш анек">-->
<!--            <input type="submit" value="Опубликовать анек" class="btn">-->
<!--        </form>-->
        <section class="aside-title">Популярные теги</section>
        <section class="tags">
            <a href="#">Кофе</a>
            <a href="#">Кофеин</a>
            <a href="#">Кофеман</a>
            <a href="#">Кофемашина</a>
            <a href="#">Кофейня</a>
            <a href="#">Кофейный</a>
            <a href="#">Кофейня</a>
            <a href="#">Кофейный</a>
            <a href="#">Кофейня</a>
            <a href="#">Кофейный</a>
            <a href="#">Кофейня</a>
            <a href="#">Кофейный</a>
            <a href="#">Кофейня</a>
            <a href="#">Кофейный</a>
            <a href="#">Кофейня</a>
            <a href="#">Кофейный</a>
        </section>
        <section>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur exercitationem laudantium obcaecati
            pariatur porro quod repellat unde vel! Eveniet fuga impedit iste, molestiae nam quae quos reiciendis
            similique sit velit. Alias atque aut deserunt dolores, ducimus earum excepturi fugiat harum, maxime neque
            nesciunt officia omnis praesentium, sit sunt tempore voluptate. Accusamus aspernatur doloribus magni soluta
            voluptas, voluptates! Adipisci eligendi error, explicabo hic molestias nam natus necessitatibus, neque odio,
            officia quae repudiandae saepe? Aliquam aspernatur dolor in libero, mollitia officiis rerum similique. Ad
            cupiditate dolor doloribus dolorum ea harum iste iure minus nisi non nostrum quam, quia repellendus unde
            veniam voluptates.
        </section>
    </aside>
    <main>
        <section class="aneks">
            <p>Пришли в кафе русский, француз, американец, китаец и еврей. Каждый заказал по чашечке кофе, и каждому в
                кофе
                попалась муха. <br>
                — Русский выпил кофе, муху выкинул. <br>
                — Француз вежливо извинился, но кофе пить не стал. <br>
                — Американец выплеснул кофе в лицо официанту. <br>
                — Китаец съел муху, а кофе пить не стал. <br>
                — А еврей выпил кофе и стал продавать муху китайцу.
            </p>
            <p>— Люблю, знаете ли, кофе с сигаретой. <br>
                — Сколько кладешь одну, две?
            </p>
            <p>
                Муж спрашивает: <br>
                — Милая! На сколько крепким сделать тебе кофе?<br>
                — На столько, на сколько крепка твоя любовь ко мне!<br>
                — То есть воды вообще не добавлять? Так пожуешь?<br>
            </p>
            <p>
                Вопрос: Кто такой настоящий муж?<br>
                Ответ: Настоящий муж это тот, кто, придя домой и застав жену с любовником, скажет: "Ну вы тут
                заканчивайте, а
                я пока сварю кофе".<br>
                Вопрос: А кто такой настоящий любовник? <br>
                Ответ: Тот, кто в этой ситуации сможет закончить. <br>
            </p>
        </section>
    </main>
</div>
<div th:insert="~{components/footer :: footer-component}"></div>
<!--<footer>
    <p>
        Мам, купи мне клюшку, ебать. Я буду хоккеистом и ебла разбивать. Шайба нахуУуУъуъуъуй.
    </p>
</footer>-->
</body>
</html>