<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Кофе пить люблю пиздец</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
<div th:insert="~{components/header :: header-component}"></div>
<div class="middle">
    <main class="nothing">
        <img src="/img/voronka1.jpeg" alt="voronka1.jpeg" style="float: left; margin-top: 1rem">
        <img src="/img/voronka2.jpg" alt="voronka2.jpeg" style="float: right; margin-top: 1rem">
        <h2>Ух-ты, здесь же пока что нихуя нет, кроме двух воронок, наезжающих на шапку!</h2>
        <h1>Пиздец!</h1>
    </main>
</div>
<div th:insert="~{components/footer :: footer-component}"></div>
</body>
</html>