<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Кофе пить люблю пиздец</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
<div th:insert="~{components/header :: header-component}"></div>
<main>
    <div class="resgistration-title">Страница регистрации</div>
    <form action="/user/add" method="post">
        <input type="text" name="username" placeholder="Никнейм">
        <input type="password" name="password" placeholder="Пароль">
        <input type="email" name="email" placeholder="Электронная почта">
        <input type="text" name="firstName" placeholder="Имя">
        <input type="text" name="lastName" placeholder="Фамилия">
        <input type="submit" value="Зарегистрироваться" class="btn">
    </form>
</main>
<div th:insert="~{components/footer :: footer-component}"></div>
</body>
</html>