<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Кофе пить люблю пиздец</title>
  <link rel="icon" href="/img/aeropress.ico">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/top-users.css">
</head>
<body>
<div th:insert="~{components/header :: header-component}"></div>
<main>
  <div class="page-title">Топ-10 пользователей</div>
  <table>
    <tr>
      <th>Никнейм</th>
      <th>Имя</th>
      <th>Количество опубликованных анеков</th>
    </tr>
    <tr th:each="user : ${users}">
      <td th:text="${user.getUsername()}"></td>
      <td th:text="${user.getFirstName()}"></td>
      <td th:text="${user.getAneks().size()}"></td>
<!--      Я не уверен, что эта штука будет работать при ленивой загрузке, но пока что оставлю так-->
    </tr>
  </table>

</main>
<div th:insert="~{components/footer :: footer-component}"></div>
</body>
</html>